<script type="application/javascript"
        src="/assets/js/jquery.min.js"></script>
<script type="application/javascript"
        src="/assets/js/popper.min.js"></script>
<script type="application/javascript"
        src="/assets/js/bootstrap.min.js"></script>
<script type="application/javascript"
        src="/assets/js/sweetalert.min.js"></script>
<script type="application/javascript"
        src="/assets/js/main.min.js"></script>

{% block page_assets %}
{% endblock %}
</body>
</html>