<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page_title }}</title>

    <link rel="apple-touch-icon" href="/assets/images/touch-ico.png">
    <link rel=icon href="/assets/images/touch-ico.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <script type="application/javascript"
            src="/assets/js/fontawesome.js"></script>

    {% block page_assets %}
    {% endblock %}
</head>
<body class="{{ body_classes }}">