{% extends "single_card.twig" %}

{% set page_title = "Site Not Found" %}
{% set background_image_class = "error" %}

{% block card_content %}
    <h2 class="text-center">Well Crap!{# Fixme #}</h2>
{% endblock %}